.h1 {
	font-family: Georgia;
	font-size: 72;
	font-style: normal;
	text-decoration: underline;
	margin-top: 50px;	
	margin-left: 50px;
}
#mainContent {
	font-family: Georgia;
	font-size: 24;
	font-weight: normal;
	text-align: center;
}	
.buttonStyle {
	background-color: orange;
	font-weight: bold;
	text-align: center;
	color: black;
	border-radius: 25px;
    width: 100px;
    height: 50px;
}
.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #ea9f15;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: orange;
	color: black;
	cursor: pointer;
}
.table {
    font-weight: normal;
    text-align: center;
}